<%= render 'layouts/header' %>
<%= render 'layouts/flash_message' %>
<div class="home-global">
  <% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <div class="home-tag">
        <%= render 'shared/tag_list' %>
      </div>
    </aside>
    <div class="col-md-8">
      <h3>Book Collection</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  <% else %>
    <div class="home-caption">
      <%= image_tag("home.jpg", alt: "HOME画像") %>
    </div>
    <div class="home-summary">
      <div class="home-main">
        <h1>本屋での重複買い防止！<br>忘れっぽいあなたに捧げる本棚管理アプリ</h1>
        <h2>たくさんの本を所有していると、本屋で「あれ？これ買ったっけ。」<br>「この漫画、何巻まで買ってたっけ。」なんて経験ありませんか？</h2>
        <h2>そんな疑問をすぐに解決してくれるのが「Book Reco」です。</h2>
        <h2>書籍を登録しておくだけで、家にいなくても自分の本棚の中身がわかります。<br>忘れっぽいあなたの代わりに覚えてくれる安心の補助アプリです。</h2>
      </div>
      <div class="home-description">
        <%= link_to "今すぐユーザー登録を行う", signup_path, class: "btn home-button" %>
        <h3>ボタンをクリックしてユーザー登録を開始してください。<br>ユーザー登録は無料です。</h3>
      </div>
    </div>
  <% end %>
</div>
