<% provide(:title, "Log in") %>
<div class="clearfix">
  <div class="Login-sidebar">
    <%= image_tag("top.jpg", alt: "ログイン画像") %>
    <div class="login-moji1">
      <h2>いつでもどこでも<br>満足本宣言</h2>
    </div>
  </div>
  <div class="Loginbody">
    <h3>さあ、はじめよう</h3>
    <hr class="Login-line">
    <%= form_for(:session, url: login_path) do |f| %>
    <%= render 'layouts/flash_message' %>
    <div class="description">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'BookReco@example.co.jp' %>
    </div>
    <div class="description">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control', placeholder: '最小数: 6' %>
    </div>
    <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>Remember me</span>
    <% end %>
    <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p>ユーザー新規作成 <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
