<% provide(:title, "Edit user") %>
<%= render 'layouts/header' %>
<div class="edit">
  <div class="edit-heading">
    <h1>アカウントを更新</h1>
    <hr class="edit-line">
  </div>
  <div class="edit-main">
    <div class="edit-global">
      <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            フォームには<%= pluralize(@user.errors.count, "個のエラーがあります") %>
          </div>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
        <% if @user.errors.include?(:name) %>
          <p style="color: red;"><%= @user.errors.full_messages_for(:name).first %>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.email_field :email %><br>
        <% if @user.errors.include?(:email) %>
          <p style="color: red;"><%= @user.errors.full_messages_for(:email).first %>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :password %><br>
        <%= f.password_field :password %><br>
        <% if @user.errors.include?(:password) %>
          <p style="color: red;"><%= @user.errors.full_messages_for(:password).first %>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %><br>
        <% if @user.errors.include?(:password_confirmation) %>
          <p style="color: red;"><%= @user.errors.full_messages_for(:password_confirmation).first %>
        <% end %>
      </div>
      <%= f.submit "変更を保存", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
