<% provide(:title, 'Sign up') %>
<%= render 'layouts/flash_message' %>
<div class="signup">
  <div class="signup-heading">
  <h1>Sign up</h1>
  </div>
  <div class="signup-main">
    <h2>アカウント作成</h2>
  </div>
  <div class="Registration">
  <%= form_for(@user, url: signup_path) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        フォームには<%= pluralize(@user.errors.count, "個のエラーがあります") %>
      </div>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: '田中 太郎' %>
      <% if @user.errors.include?(:name) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:name).first %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, placeholder: 'BookReco@example.co.jp' %><br>
      <% if @user.errors.include?(:email) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:email).first %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password, placeholder: '最小: 6' %><br>
      <% if @user.errors.include?(:password) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:password).first %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, placeholder: 'パスワード確認' %><br>
      <% if @user.errors.include?(:password_confirmation) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:password_confirmation).first %>
      <% end %>
    </div>
      <%= f.submit "新規登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
