<% provide(:title, @user.name) %>
<%= render 'layouts/header' %>
<%= render 'layouts/flash_message' %>
<div class="Profile">
  <aside class="col-md-4">
    <div class="Profile_main">
      <div class="Profile_title">
        <p><%= current_user.name %>さんの最近の投稿</p>
      </div>
    </div>
    <div class="Profile_heading">
      <h2>所持本数<%= pluralize(current_user.microposts.count, "冊") %></h2>
    </div>
    <% if @user.microposts.any? %>
    <div class="Profile_foot">
      <% @microposts.each do |micropost| %>
        <div class="Profile_microposts">
          <div class="Profile_section">
            <p1><%= micropost.title %></p1><br>
            <p2><%= micropost.created_at %></p2>
          </div>
          <div>
            <% if micropost.picture? %>
              <%= image_tag(micropost.picture.url, size: '300x400' )  %>
            <% else %>
              <image src="/assets/default.png" class="Profile_icon" alt="ユーザーアイコン"  %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </aside>
</div>
