<div class="tag-main">
  <h1>Tag List</h1>
  <% if @tags.present? %>
    <% @tags.each do |tag| %>
      <div class="tag_list">
        <%=  link_to "#{tag.name}", microposts_path(tag: tag.name), class: "no-underline micropots-tag" %>
      </div>
    <% end %>
  <% end %>
</div>
