<li id="micropost-<%= micropost.id %>">
<div class="clearfix">
  <div class="micropost-left">
    <div class="micropost-picture">
      <figure>
      <% if micropost.picture? %>
        <%= image_tag(micropost.picture.url) %>
      <% else %>
        <image src="/assets/default.png" class="icon" alt="ユーザーアイコン" %>
      <% end %>
      </figure>
    </div>
  </div>
  <div class="micropost-rigth">
    <div class="micropost-title">
      <%= micropost.title %>
    </div>
    <div class="micropost-content">
      <% if micropost.content? %>
        <p><%= micropost.content %></p>
      <% else %>
        <p>no comment</p>
      <% end %>
    </div>
    <div class="micropost-number">
      <p><%= micropost.number %>巻</p>
    </div>
    <div class="micropost-tag">
      <% micropost.tags.each do |tag| %>
        <%= link_to "#{tag.name}", microposts_path(tag: tag.name), class: "no-underline micropots-tag" %>
      <% end %>
    </div>
    <span class="timestamp">
      <%= time_ago_in_words(micropost.created_at) %>前
      <% if current_user?(micropost.user) %>
        <%= link_to "編集", edit_micropost_path(micropost), class: "no-underline" %>
        <%= link_to "削除", micropost, method: :delete, class: "no-underline", data: { confirm: "一度削除すると元に戻すことはできません。削除してもよろしいですか？" } %>
      <% end %>
    </span>
  </div>
</div>
</li>
