<% provide(:title, 'micropost-edit') %>
<%= render 'layouts/header' %>
<div class="micropost">
  <div class="micropost-heading">
    <h2>Micropost Edit</h2>
  </div>
  <%= form_for(@micropost) do |f| %>
  <% if @micropost.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        フォームには<%= pluralize(@micropost.errors.count, "個のエラーがあります") %>
      </div>
    </div>
  <% end %>
  <div class="edittag-main">
    <div class="edittag-left">
      <div class="edittag-title">
        <%= f.label :書籍タイトル %><br>
        <%= f.text_field :title, autofocus: true, :placeholder =>"#{@micropost.title}" %>
        <% if @micropost.errors.include?(:title) %>
          <p style="color: red;"><%= @micropost.errors.full_messages_for(:title).first %>
        <% end %>
      </div>
      <div class="edittag-number">
        <%= f.label :巻数表示 %><br>
        <%= f.text_field :number, type: 'number', :placeholder =>"#{@micropost.number}" %>
        <% if @micropost.errors.include?(:number) %>
          <p style="color: red;"><%= @micropost.errors.full_messages_for(:number).first %>
        <% end %>
      </div>
      <div class="edittag-tag">
        <%= f.label :カテゴリー %>
        <%= f.text_field :tag_list, value: @micropost.tag_list.join(','), :placeholder =>"#{@micropost.tag_list}" %>
        <% if @micropost.errors.include?(:tag_list) %>
          <p style="color: red;"><%= @micropost.errors.full_messages_for(:tag_list).first %>
        <% end %>
      </div>
      <div class="edittag-content">
        <%= f.label :投稿内容 %><br>
        <%= f.text_field :content, :placeholder =>"#{@micropost.content}" %>
        <% if @micropost.errors.include?(:content) %>
          <p style="color: red;"><%= @micropost.errors.full_messages_for(:content).first %>
        <% end %>
      </div>
    </div>
    <div class="edittag-right">
      <div class="edittag-img">
        <%= f.label :編集前画像 %><br>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        <% if @micropost.picture? %>
          <%= image_tag(@micropost.picture.url) %>
        <% else %>
          <image src="/assets/default.png" class="tag-icon" alt="ユーザーアイコン" %>
        <% end %>
        <% if @micropost.errors.include?(:picture) %>
          <p style="color: red;"><%= @micropost.errors.full_messages_for(:picture).first %>
        <% end %>
      </div>
    </div>
    <div class="edittag-submit"><%= f.submit "更新する" %></div>
  <% end %>
  </div>
</div>
