<% provide(:title, 'micropost') %>
<%= render 'layouts/header' %>
<div class="micropost">
  <div class="micropost-heading">
    <h2>Create my Book</h2>
  </div>
  <%= form_for(@micropost) do |f| %>
  <% if @micropost.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        フォームには<%= pluralize(@micropost.errors.count, "個のエラーがあります") %>
      </div>
    </div>
  <% end %>
  <div class="micropost-main">
    <div class="form-group">
      <%= f.label :title, '書籍タイトル' %>
      <%= f.text_field :title, class: 'form-control', placeholder: "最大文字数: 100" %>
      <small id="title-tip" class="form-text text-muted">
        タイトルを入力してください。
      </small>
      <% if @micropost.errors.include?(:title) %>
        <p style="color: red;"><%= @micropost.errors.full_messages_for(:title).first %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :number, '巻数表示' %>
      <%= f.text_field :number, class: 'form-control', value: '0', type: 'number' %>
      <small id="title-tip" class="form-text text-muted">
        巻数がある場合入力してください。
      </small>
      <% if @micropost.errors.include?(:number) %>
        <p style="color: red;"><%= @micropost.errors.full_messages_for(:number).first %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :tag_list, 'カテゴリー' %>
      <%= f.text_field :tag_list, class: 'form-control', value: @micropost.tag_list.join(','),
          placeholder: "最大文字数: 100" %>
      <small id="title-tip" class="form-text text-muted">
        複数つけるには','で区切ってください。
      </small>
      <% if @micropost.errors.include?(:tag_list) %>
        <p style="color: red;"><%= @micropost.errors.full_messages_for(:tag_list).first %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :content, '投稿内容' %>
      <%= f.text_field :content, class: 'form-control', placeholder: "最大文字数: 140" %>
      <small id="title-tip" class="form-text text-muted">
        補足事項を入力してください。空欄の場合「no comment」と表示されます。
      </small>
      <% if @micropost.errors.include?(:content) %>
        <p style="color: red;"><%= @micropost.errors.full_messages_for(:content).first %>
      <% end %>
    </div>
    <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      <% if @micropost.errors.include?(:picture) %>
        <p style="color: red;"><%= @micropost.errors.full_messages_for(:picture).first %>
      <% end %>
    </span>
    <%= f.submit '投稿', class: 'btn btn-info btn-block' %>
      <small id="submit-tip" class="form-text text-muted">
        投稿する前に投稿内容を見直してください!
      </small>
    <% end %>
  </div>
  <script type="text/javascript">
    $('#micropost_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
    });
  </script>
</div>
