<% provide(:title, 'tag_show') %>
<%= render 'layouts/header' %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
      <div class="home-tag">
        <%= render 'shared/tag_list' %>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <ol class="microposts">
      <%= render @micropost %>
    </ol>
  </div>
</div>
