@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #e4e4e4;
}
header {
  float: left;
  background-color: #fff;
  width: 100%;
  height: 100px;
  border-bottom: 3px solid #626262;
}
.title h1 {
  font-size: 60px;
  font-family: Courier New;
  font-weight: bold;
  margin: 20px 10px 0px 50px;
}
.menu-item {
  font-size: 20px;
  margin: -55px 50px;
}
.menu-item a {
  color: #795548;
}
.menu-item li {
  background-color: #fff;
  font-weight: bold;
  margin: -22px 10px;
  padding: 20px 15px ;
  border-radius: 20px;
  border: 8px #B7D300 solid;
  list-style: none;
}
.menu-item li:hover {
  background-color: #B7D300;
  color: #fff;
  transition-duration: 0.3s;
}
.post-button {
  background-color: #fff;
  color: #795548;
  font-size:52px;
  font-weight: bold;
  font-family: serif;
  margin: -25px 0 0 14px;
  padding: 0px 20px;
  border-radius: 20px;
  border: 8px #B7D300 solid;
}
.post-button:hover {
  background-color: #B7D300;
  color: #fff;
  transition-duration: 0.3s;
}
.no-underline {
  text-decoration:none !important;
}


/* miscellaneous */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 300px;
  @include box_sizing;
}


/* signup form */
.signup-heading {
  display: flex;
  background-color: #283F4B;
  color: #fff;
  width: 100%;
  height: 100px;
  align-items: center;
  border-bottom: 3px solid #626262;
}
.signup-heading h1 {
  font-size: 60px;
  color: #fff;
  padding-left: 50px;
}
.signup-main {
  display: flex;
  background-color: #0283C0;
  color: #fff;
  width: 100%;
  height: 40%;
}
.signup-main h2 {
  color: #d6d6d6;
  font-size: 30pt;
  margin : 20px auto 10px auto;
}
.Registration {
  background-color: #fff;
  margin: -200px 25%;
  padding: 40px 20px;
}
.Registration input, textarea, select {
  font-size: 20px;
  width: 60%;
  margin : 0 auto 25px 130px;
  border: 1px solid #bbb;
}
.Registration label {
  font-size: 20px;
  width: 60%;
  margin: 10px auto 5px 130px;
}


/* error_forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.field p {
  margin: -20px 0 0 130px;
}
.field_with_errors {
  display: inline;
}


/* login form */
.Login-sidebar {
  float: left;
}
.Login-sidebar img {
  z-index: 1;
  width: 750px;
  height: 100%;
}
.login-moji1 {
  position:absolute;
  color: #fff;
  border: solid 5px #fff;
  top: 30%;
  margin-left: 100px;
  padding: 30px 40px;
  text-align:center;
}
.login-moji1 h2 {
  font-size: 55px;
  font-family: serif;
  letter-spacing: 3px;
  line-height:1.5em;
}
.Loginbody {
  float:right;
  width: 30%;
  margin: 100px 110px 0 0;
}
.Loginbody input {
  font-size: 20px;
  width: 100%;
  border: 1px solid #bbb;
}
.Login-line {
  height: 1px;
  border: none;
  border-top: 2px #3379B7 solid;
}
.Loginbody h3 {
  font-size: 30px;
  font-family: serif;
  color: #214e75;
  text-align: center
}
.description {
  padding: 20px 0;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* home page(logout) */
.home-caption img {
  width: 100%;
  height: 45%;
}
.home-summary {
  text-align:center
}
.home-main {
  background: #FDC477;
  color: #fff;
  margin-top: 70px;
  padding: 50px;
}
.home-main h1 {
  font-size: 35px;
  margin-bottom: 25px;
}
.home-main h2 {
  font-size: 20px;
}
.home-button {
  background-color: #fff;
  color: #795548;
  font-size: 40px;
  font-weight: bold;
  font-family: serif;
  margin: 60px 20% 0 20%;
  padding: 30px 40px;
  border-radius: 50px;
  border: 5px #FFC107 solid;
}
.home-button:hover {
  background-color: #FFC107;
  color: #fff;
  transition-duration: 0.3s;
}
.home-description h3 {
  font-size: 16px;
  color: #756f5d;
  margin-bottom: 30px;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}


/* edit page */
.edit-heading h1 {
  margin: 0 20%;
  padding-top: 12%;
}
.edit-line {
  width: 65%;
  border: 1px solid #808080;
}
.edit-global input, textarea, select {
  font-size: 20px;
  width: 60%;
  margin : 0 20% 25px 20%;
  border: 1px solid #bbb;
}
.edit-global label {
  font-size: 20px;
  width: 60%;
  margin: 10px 20% 5px 20%;
}


/* tag */
.home-tag ul {
  display: flex;
  list-style: none;
}
.tag-name {
  outline: none;
  background-color: #fff;
  font-size: 20px;
  padding: 15px 20px 15px 40px;
  border-radius: 30px;
  border: 0px none;
}
.tag-name:hover {
  background-color: #f5fffb;
  color: #252525;
}
.tag-number {
  background-color: #d7e863;
  color: #fff;
  padding: 10px 15px;
  border-radius: 30px;
}


/* tag list */
.home-tag {
  background-color: #d8d7d7;
  margin: 20px 40px 20px 0;
  padding: 5px 0 20px 10px;
}
.home-tag ul {
  display: flex;
  list-style: none;
}
.home-tag {
  background-color: #d8d7d7;
  margin: 20px 40px 20px 0;
  padding: 5px 0 20px 10px;
}
.tag_list {
  margin-top: 25px;
}
.tag_list a{
  color: #868686;
}
.tag-main {
  display: inline-block;
}


/* micropost form */
.micropost-main {
  margin:50px;
}


/* microposts edit */
.edittag-right {
  float: right;
}
.edittag-left {
  float: left;
}
.edittag-main {
  margin: 35px 90px;
}
.edittag-left input {
  font-size: 20px;
  width: 200%;
  height: 40px;
}
.edittag-number {
  margin-top: 25px;
}
.edittag-tag {
  margin-top: 25px;
}
.edittag-content {
  margin-top: 25px;
}
.edittag-submit input {
  background-color: #a7d893;
  color: #fff;
  font-size: 20px;
  width: 100%;
  height: 40px;
  margin-top: 40px;
  border: 0px none;
}
.edittag-submit input:hover {
  background-color: #87c16f;
}
img.tag-icon {
  width: 80%;
  height: 50%;
}


/* microposts new */
.micropost-title {
  font-size: 25px;
  margin: 20px 20px 30px 20px;
}
.micropost-content {
  display: block;
}
.micropost-number {
  background-color: #777;
  color: #fff;
  font-size: 30px;
  margin: 0 20px 10px 80%;
  padding: 10px 10px 3px 50px;
}
.microposts {
  list-style: none;
  padding: 0;
  li {
    background-color: #EFEFEF;
    margin: 20px 10% 20px 0;
    padding: 10px 0;
  }
}
.micropots-tag {
  background-color: #fff;
  color: #777;
  font-size: 20px;
  margin: 0 10px 20px 0;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px #B7D300 solid;
}
.micropots-tag:hover {
  background-color: #f5f5f5;
  color: #795548;
}
.micropost-heading {
  margin: 0 4%;
  padding: 120px 0  0 8px;
  border-bottom: 1px solid;
}
figure {
	float: left;
	margin: 15px;
}
.micropost-picture  img {
  display: block;
  width: 300px;
  padding: 5px 0;
}
.timestamp {
  display: block;
  color: $gray-light;
  margin-top: 20px;
}


/* usre Profile*/
.Profile_title {
  background-color: #FFFCDF;
  width: 130%;
  height: auto;
  margin: 40px auto 30px 70px;
  padding: 30px 0 30px 20px;
}
.Profile_title p{
  font-size: 30px;
}
.Profile_heading {
  width: 230%;
  margin-left: 40px;
  padding: 12px 0 0 8px;
  border-bottom: 1px solid;
}
.Profile_microposts {
  background-color: #F8F4E8;
  width: 100%;
  height: 50%;
  margin: 20px 30px;
  padding: 20px 20px 20px 35px;
}
.Profile_section p1 {
  font-size: 25px;
}
img.Profile_icon {
  width: 350px;
  height: 250px;
}
.Profile_foot{
  display: flex;
}
