<header>
  <div class="title">
    <h1>Book Reco</h1>
  </div>
  <nav>
    <div class="menu-item">
      <ul class="navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, class: "no-underline" %></li>
        <% if logged_in? %>
          <li><%= link_to "Settings", edit_user_path(current_user), class: "no-underline" %></li>
          <li><%= link_to "Profile", current_user, class: "no-underline" %></li>
          <li><%= link_to "Log out", logout_path, method: :delete, class: "no-underline" %></li>
          <%= link_to "+", new_micropost_path, class: "btn post-button" %>
        <% else %>
          <li><%= link_to "Sign up", signup_path, class: "no-underline" %></li>
          <li><%= link_to "Log in", login_path, class: "no-underline" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
